@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  width= 100%;
  font-family: raleway;
  font-size:62.5%;
  background-color: white;
}

h1 {
  flex-grow: 1;
  font-size: 1.3em;
  font-weight: 300;
  margin:0 0 0 10px;
}

header {
  height: 30px;
  max-width: 1200px;
  padding: 10px;
  display: flex;
  justify-content:space-around;
  align-items:flex-end;
  margin:0 auto;
}

html {
  background-color: grey;
}

img {
    flex-grow: 1;
}

li {
  list-style: none;
  font-size: 1.5em;
  margin-left: 100px;
}

ul {
  flex-grow: 1;
  display: flex;
  margin:0;
  margin-right: 15px;
}

strong {
  font-size: 1.5em;
  font-weight: 500;
}
