@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

a{
  text-decoration:none;
  color:black;
}

body {
  padding-top:60px;
  width: 100%;
  font-family: raleway;
  font-size:62.5%;
  background-color: white;
  margin:0 auto;
  max-width: 1200px;
  line-height: 2;
}

.border{
    margin-top:15px;
    border-bottom: 2px solid darkgrey;
    border-top: 2px solid darkgrey;
}

footer{
  margin: 80px 200px;
  padding-bottom: 50px;
  display:flex;
  justify-content: space-between;
}

.footerNotes{
  text-align: center;
}

.footerNotes img{
  clip-path: circle(50.1% at 50% 50%);
}

h1 {
  font-size: 1.3em;
  font-weight: 300;
  margin:0;
}

h2{
padding-left: 60px;
font-weight:700;
font-size: 1.8em;
margin-bottom:5px;
}

h3{
padding-left: 60px;
font-weight:300;
font-size: 1.2em;
margin-top:5px;
}

h4{
font-weight:700;
font-size: 1.8em;
margin-bottom: 0;
}

header {
  width:100%;
  background-color: white;
  position:fixed;
  top: 0;
  max-width: 1200px;
  padding-top:10px;
  z-index: 1;
}

header .logo img{
  padding-top: 15px;
  margin:0 auto;
}


.about img {
  clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
}

.about {
  position: relative;

}
.about  img {
    width: 100%;
  }

.about  figcaption {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

.about p{
  width:400px;
  padding-left: 60px;
  font-size: 1.2em;
}

li {
  list-style: none;
  font-size: 1.6em;
  font-weight: 500;
  margin-left: 75px;
}

.navbar{
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content:space-around;
  align-items:flex-end;
  margin:0 auto;
}

.projDetails{
  display:flex;
  justify-content: space-around;
  margin-top: 50px;
}

.projDetails img{
  max-width: 30%;
  align-self: center;
}

.projList{
  padding-top:50px;
  display:flex;
  width:100%;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-around;
}

.projprev{
  width:30%;
  justify-content: center;
  text-align: center;
}

.projprev img{
  clip-path: circle(50.1% at 50% 50%);
}

.project{
  width:80%;
  margin: 0 auto;
  margin-top: 50px;
}

.project .image1{
  width: 80%;
  align-content: center;
  clip-path: circle(50.1% at 50% 50%);
}

.title{
  text-align: center;
  width:50%;
  margin: 0 auto;
  padding-left: 40px;
}

.title h2, .title h3{
  padding: 0;
}

ul {
  flex-grow: 2;
  display: flex;
  margin:0;
  margin-right: 15px;
}

strong {
  font-size: 1.5em;
  font-weight: 500;
}
