@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  width= 100%;
  font-family: raleway;
  font-size:62.5%;
  background-color: white;
}

h1 {
  margin-left: 10px;
  font-size: 1.3em;
  font-weight: 300;
  margin:0 0 0 10px;
}

header {
  padding: 15px 0 10px 0;
  height: 30px;
  display: flex;
  align-items:flex-end;
}

html {
  background-color: grey;
}

li {
  list-style: none;
  font-size: 1.5em;
  margin-left: 25px;
}

ul {
  display: flex;
  width:50%;
  margin:0;
}

strong {
  font-size: 1.5em;
  font-weight: 500;
}
