<div class="about">
  <figure>
    <img src="../images/placeholder.jpg" alt="" />
    <figcaption>
      <h2>Nathan Richard Hiser</h2>
      <h3>Web Design, Video Production, Photography </h3>
      <p>Quisque bibendum nibh quis leo finibus, quis dapibus magna accumsan. Aliquam at rutrum tortor. Nunc hendrerit quam neque, sit amet molestie erat efficitur ac. Suspendisse orci felis, gravida vitae commodo luctus, mollis nec felis. Maecenas eget hendrerit nibh. Phasellus vehicula ac nisl in commodo. Sed bibendum vestibulum luctus. Etiam neque lorem, condimentum nec nisl et, finibus faucibus orci. Praesent rhoncus varius turpis. Aliquam hendrerit ullamcorper elementum. Fusce volutpat lorem magna, vitae convallis tellus venenatis nec.</p>
    </figcaption>
  </figure>
</div>
