<div class="about">
  <figure>
    <img src="../images/portrait.jpg" alt="" />
    <figcaption>
      <h2>Nathan Richard Hiser</h2>
      <h3>Web Design, Video Production, Photography </h3>
      <p>I am a senior Visual Communication Design at Cedarville University. I have a concentration in Interactive Web Design, and a minor in Motion Graphics. Growing up in this blooming era of Video I had a fasination for movies, and all things computers. I am now delving into 3D animation, Motion Graphics, Web Design, Graphic Design, and a lot more. My passions can be combined into three things. People, Jesus, and Design. </p>
    </figcaption>
  </figure>
</div>
