
<footer>
  <div id="contact" class="footerNotes">
    <img src="../../../../images/contact.png">
    <div class="border">
      <h4>Instagram</h4>
      <p>nate.hiser</p>
      <a href="https://www.instagram.com/nate.hiser/"> Check it out &rarr; </a>
    </div>
  </div>
  <div class="footerNotes">
    <img src="../../../../images/contact.png">
    <div class="border">
      <h4>Connect</h4>
      <p>517-260-4379</p>
      <p>nate.hiser@gmail.com</p>
    </div>
  </div>

</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
