<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="..\styles.css">
  <title>Nathan Richard Hiser</title>
</head>
<body>
  <header>
      <div class="row">
        <h1> Nathan Richard Hiser </h1>
        <h2> Web Design, Video Production, Photography <h2>
      </div>
      <img src="images/logo.png" />
        <nav>
          <ul>
            <li> About </li>
            <li> Contact </li>
            <li> Work </li>
          </ul>
        </nav>
  </header>
