<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="..\styles.css">
  <title>Nathan Richard Hiser</title>
</head>
<body>
  <header>
    <div class="navbar">
        <h1> <strong> Nathan Richard Hiser </strong> Web Design, Video Production, Photography </h1>
        <img src="images/logo.png" />
          <nav>
            <ul>
              <li> About </li>
              <li> Contact </li>
              <li> Work </li>
            </ul>
          </nav>
      </div>
  </header>
